p {
<<<<<<< HEAD
    color: black;
=======
    color: blueviolet;
>>>>>>> a8d9995ef1ea0f4615ab3693bab0f6b29c14aef3
    font-size: 24px;
    background-color: powderblue;
}

h1 {
    color: green;
}

li {
    color: black;
    font-size: 20px;
}